.courses_title{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    overflow-x: auto;
    justify-content: space-around;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 10px;
}