.back2mycourse button{
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    font-size: 1em;
}

.createlesson{
    padding-bottom: 10px;
    width: max-content;
    border-bottom: 1px dashed rgb(182, 181, 181);
  }
.createlesson button{
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    font-size: 1em;
}
.createlesson button:hover {
    background-color: #0056b3; /* Darker shade of button color */
  }

  .lessoncart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
    list-style: none;
}

.thelesson {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    margin: 10px;
    transition: transform 0.2s ease-in-out;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.thelesson > .btns{
    display: flex;
    justify-content: center;
    position: relative;
    top: 15px;
    margin: 5px;
}
.thelesson:hover {
    transform: scale(1.05);
}

.thelesson a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.2em;
    display: block;
    margin-bottom: 10px;
}

.thelesson a:hover {
    text-decoration: underline;
}